body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

nav {
    background-color: #333;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.burger-menu {
    cursor: pointer;
    display: none;
    flex-direction: column;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    border: 1px solid black;
}

/* Burger Menu Bar Styles for Cross Effect */
.burger-menu.open .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.burger-menu.open .bar:nth-child(2) {
    opacity: 0;
}

.burger-menu.open .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    display: inline;
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', sans-serif;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #c09918;
}

main {
    flex-grow: 1;
    background-color: #f5f5dc;
    position: relative;
    padding-top: 60px;
    padding-left: 20px;
}

.home {
    flex-grow: 1;
    background: url('images/cover.jpg') center/cover no-repeat fixed;
    position: relative;
}

header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    padding: 40px;
    background: rgba(0, 0, 0, 0.5);
    width: 80%;
    max-width: 600px;
    box-sizing: border-box;
    font-family: 'Italianno', cursive;
}

h1 {
    margin: 0;
    font-size: 4em;
    font-family: 'Italianno', cursive;
    text-align: center;
    box-sizing: border-box;
}

p {
    margin: 0;
    font-size: 2em;
}

footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    color: white;
    background-color: #555;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

footer p {
    font-size: 0.8em;
    font-family: 'Segoe UI', sans-serif;
}

/* Media Query for Mobile View */
@media only screen and (max-width: 600px) {
    nav ul {
        display: none;
        flex-direction: column;
        text-align: center;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        background-color: transparent;
        z-index: 999;
    }

    nav ul.show {
        display: flex;
        background-color: transparent;
    }

    nav li {
        display: block;
        margin: 10px 0;
    }

    .burger-menu {
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        background: none;
        padding: 8px;
        border-radius: 10px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        z-index: 1000;
    }

    nav {
        background-color: transparent;
        padding: 0;
    }

    form {
        width: 80%;
        max-width: 80%;
        margin: 20px auto;
    }
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.900);
    z-index: 999;
}

.overlay.show {
    display: block;
}

.nav-item {
    display: inline;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', sans-serif;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

.nav-icon {
    width: 24px;
    height: auto;
    vertical-align: middle;
}


/* Styles for other Pages */
body.default {
    padding-top: 60px;
}

h1.default {
    margin: 20px auto;
    font-size: 4em;
    font-family: 'Italianno', cursive;
    text-align: left;
    display: table;
}

form {
    font-family: 'Segoe UI', sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
}

label {
    font-size: 1.2em;
    margin-bottom: 0;
    display: block;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #333;
    color: white;
    cursor: pointer;
    font-family: 'Segoe UI', sans-serif;
    width:fit-content;
    font-size: 1.5em;
}

input[type="submit"]:hover {
    background-color: #555;
}