body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

/* Navigation Bar Styles */
nav {
    background-color: #333;
    padding: 10px;
    text-align: center;
    position: fixed; /* Fixed position for the navigation bar */
    width: 100%; /* Full-width navigation bar */
    z-index: 999; /* Higher z-index to ensure it's above other elements */
}

/* Burger Menu Styles */
.burger-menu {
    cursor: pointer;
    display: none;
    flex-direction: column;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

/* Burger Menu Bar Styles */
.bar {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    border: 1px solid black; /* Added border for each line in the burger menu */
}

/* Navigation List Styles */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

/* Navigation List Item Styles */
nav li {
    display: inline;
    margin-right: 15px;
}

/* Navigation Link Styles */
nav a {
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', sans-serif;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

/* Navigation Link Hover Styles */
nav a:hover {
    color: #c09918;
}

/* Main Content Styles */
main {
    flex-grow: 1;
    background-color: #f5f5dc;
    position: relative;
    padding-top: 60px;
    padding-left: 20px;
}

/* Home Section Styles */
.home {
    flex-grow: 1;
    background: url('images/flower-titlescreen.jpg') center/cover no-repeat fixed;
    position: relative;
}

/* Header Styles */
header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    padding: 40px;
    background: rgba(0, 0, 0, 0.5);
    width: 80%;
    max-width: 600px;
    box-sizing: border-box;
    font-family: 'Italianno', cursive;
}

/* Heading Styles */
h1 {
    margin: 0;
    font-size: 4em;
    font-family: 'Italianno', cursive;
}

/* Paragraph Styles */
p {
    margin: 0;
    font-size: 2em;
}

/* Footer Styles */
footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    color: white;
    background-color: #555;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

/* Footer Paragraph Styles */
footer p {
    font-size: 0.8em;
    font-family: 'Segoe UI', sans-serif;
}

/* Media Query for Mobile View */
@media only screen and (max-width: 600px) {
    nav ul {
        display: none;
        flex-direction: column;
        text-align: center;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        background-color: transparent;
        z-index: 999;
    }

    nav ul.show {
        display: flex;
        background-color: transparent;
    }

    nav li {
        display: block;
        margin: 10px 0;
    }

    /* Styles for Burger Menu in Mobile View */
    .burger-menu {
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        background: none;
        padding: 8px;
        border-radius: 10px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        z-index: 1000;
    }

    /* Remove the background-color property for the nav bar in mobile view */
    nav {
        background-color: transparent;
        padding: 0;
    }
}

/* Overlay Styles */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.900);
    z-index: 999;
}

.overlay.show {
    display: block;
}

/* Navigation Item Styles */
.nav-item {
    display: inline;
}

/* Navigation Link Styles */
.nav-link {
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', sans-serif;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

/* Navigation Icon Styles */
.nav-icon {
    width: 24px;
    height: auto;
    vertical-align: middle;
}

/* Styles for other Pages */
body.default {
    padding-top: 60px; /* Adjust the padding-top to match the height of your navigation bar */
}

form {
    font-family: 'Segoe UI', sans-serif;
    margin: 20px;
}