body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

nav {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

.burger-menu {
    cursor: pointer;
    display: none;
    flex-direction: column;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    display: inline;
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', sans-serif;
    font-size: 1.2em;
}

main {
    flex-grow: 1;
    background: url('images/flower-titlescreen.jpg') center/cover no-repeat fixed;
    position: relative;
}

header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    padding: 40px;
    background: rgba(0, 0, 0, 0.5);
    width: 80%;
    max-width: 600px;
    box-sizing: border-box;
    font-family: 'Italianno', cursive;
}

h1 {
    margin: 0;
    font-size: 4em;
}

p {
    margin: 0;
    font-size: 2em;
}

footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    color: white;
    background-color: #555;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

footer p {
    font-size: 0.8em;
    font-family: 'Segoe UI', sans-serif;
}

@media only screen and (max-width: 600px) {
    nav ul {
        display: none;
        flex-direction: column;
        text-align: center;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        background-color: #333;
        z-index: 999;
    }

    nav ul.show {
        display: flex;
        background-color: transparent;
    }

    nav li {
        display: block;
        margin: 10px 0;
    }

    .burger-menu {
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
    }
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.900);
    z-index: 999;
}

.overlay.show {
    display: block;
}
